<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="TVSN" value="1" />
    <add key="Panel" value="1" />
    <add key="Mainboard" value="1" />
    <add key="Left stand" value="1" />
    <add key="Right stand" value="1" />
    <add key="Accessory bag" value="1" />
    <add key="Pagestate" value="0" />
  </appSettings>

</configuration>